.nav-item {
  cursor: pointer;
}

li.active-pro a.nav-link {
  font-size: 1em;
}

.alert {
  margin-top: 6px;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 35%;
  z-index: 9999;
}

.fixed-plugin {
  position: absolute !important;
  top: 95%;
  right: 0.5%;
}

.font-icon-detail {
  min-width: 330px;
}

.font-icon-detail:hover {
  box-shadow: 0 0 0 1px #e44cc4;
  cursor: pointer;
  background-color: rgba(228, 76, 196, 0.015);
}

.font-icon-detail.quiz {
  border-color: #ff8d72;
}

.font-icon-detail.quiz:hover {
  box-shadow: 0 0 0 1px #ff8d72;
  cursor: auto;
  background-color: rgba(255, 141, 114, 0.02);
}

input[type='radio'] {
  transform: scale(1.5) !important;
  margin: 0.5rem;
  padding-top: 1rem;
}

label {
  font-size: 1em !important;
}
